:root {
    --pico-card-section-background-color: #dcc0d5;
    --pico-card-border-radius: 10px;

    --z-index-dropdown: 1;
}

header {
    background-color: var(--pico-background-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/** Navbar **/

/** Dropdown **/

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--pico-dropdown-background-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: var(--z-index-dropdown);
    min-width: 160px;
    list-style: none;
    padding: 0;
    margin-right: 0;
}

.dropdown-menu li a {
    padding: 10px 10px;
    margin-right: 10 px;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 160px;
    text-decoration: none;
    color: var(--text);
    background-color: var(--pico-dropdown-background-color);
    transition: background-color 0.3s ease;
}

.dropdown-menu li a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.dropdown-menu li a:hover {
    background-color: var(--pico-dropdown-hover-background-color);
    color: var(--text);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** Selection **/

/** Article **/

article {
    background-color: var(--pico-card-background-color);
    box-shadow: var(--pico-card-box-shadow);
    padding: 0px;
    margin: 0px;
}

article .article-header {
    background-color: var(--pico-card-background-color) !important;
    box-shadow: var(--pico-card-box-shadow);
    border-top-left-radius: var(--pico-card-border-radius);
    border-top-right-radius: var(--pico-card-border-radius);
    padding: 10px;
    margin: 0px;
}

article .article-img {
    background-color: var(--pico-card-background-color);
    margin: 0px;
    padding: 0px;
}

article .article-footer {
    background-color: var(--pico-card-background-color) !important;
    box-shadow: var(--pico-card-box-shadow);
    border-bottom-left-radius: var(--pico-card-border-radius);
    border-bottom-right-radius: var(--pico-card-border-radius);
    font-size: smaller; 
    text-align: left;
    padding: 10px;
    margin: 0px;
}

article .article-footer-icon {
    height: 1em;
    margin-right: 5px;
}

.recipe-info {
    font-size: medium;
    text-align: left;
    padding: 10px, 20px;
}

.recipe-info-icon {
    height: 1em;
    margin-right: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    height: auto; 
    max-height: none;
    overflow: visible;
    padding: 1rem;
}

.grid-search-tag {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.5rem;
    height: auto; 
    max-height: none;
    overflow: visible;
    padding: 0.5em;
}

/** Buttons **/

.button-search-tag {
    padding: 10px 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-search-tag.active {
    background-color: var(--pico-primary-hover-background);
    color: var(--pico-primary-inverse);
}

@media (prefers-color-scheme: dark) {
    :root {
        --pico-card-section-background-color: #444444;
        --pico-card-border-radius: 10px;
    }
}

