
header {
    background-color: var(--pico-background-color);
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
}

.article-card {
    background-color: var(--pico-card-background-color);
    border: 5px solid var(--pico-primary); /*(--pico-card-border-color);*/
    border-radius: 20px;
    box-shadow: var(--pico-card-box-shadow);
    padding: 20px;
    margin: 10px;
}

